<ion-view view-title="CDMX by the numbers" class="section">
	<ion-nav-bar class="bar-nikecdmx tradeLTStd">
		<ion-nav-buttons side="primary">
  			<button class="button icon-left ion-chevron-left button-clear button-light" ng-click="backNav()"></button>
  		</ion-nav-buttons>
	</ion-nav-bar>
	<ion-content>
		<div class="cover">
			<img src="img/covers/cdmx.jpg">
		</div>
		<div class="graphs" ng-repeat="graph in cdmx_results">
			<div class="title">
				<img ng-src="{{ graph.title }}">
			</div>
			<ion-slide-box class="items" on-slide-changed="slideHasChanged($index)">
				<ion-slide ng-repeat="item in graph.items">
			    	<div class="placeholder">
				    	<img ng-src="{{ item.graph }}">
				    </div>
				</ion-slide>
			</ion-slide-box>
		</div>
	</ion-content>
</ion-view>