<ion-view view-title="History" class="section">
	<ion-nav-bar class="bar-nikecdmx tradeLTStd">
		<ion-nav-buttons side="primary">
  			<button class="button icon-left ion-chevron-left button-clear button-light" ng-click="backNav()"></button>
  		</ion-nav-buttons>
	</ion-nav-bar>
	<ion-content>
		<div class="history" ng-repeat="history in history_results">
			<ion-slide-box class="gallery" on-slide-changed="slideHasChanged($index)">
				<ion-slide ng-repeat="item in history.gallery">
			    	<div class="placeholder">
				    	<img ng-src="{{ item }}">
				    </div>
				</ion-slide>
			</ion-slide-box>
			<div class="content">
				<div class="row">
					<div class="col">
						<span class="tradeLTStd rem140 title" ng-bind-html="history.name"></span>
						<span class="trade18 rem100 paragraph" ng-bind-html="history.content | html"></span>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>