<ion-view view-title="The City" class="section">
	<ion-content>
		<div class="cover" ng-click="showVideo($event)">
			<img src="img/covers/thecity.jpg">
			<video id="hispanic" poster="img/covers/thecity.jpg">
		        <source src="video/hispanic.mp4">
		    </video>
		</div>
		<div class="title">
			<img src="img/titles/thecity.jpg">
		</div>
		<div class="content">
			<div class="cities" ng-repeat="city in cities_results">
				<div class="row">
					<div class="col">
						<div class="thumbnail">
							<img ng-src="{{city.thumbnail}}">
						</div>
						<div class="title centered">
							<span class="tradeLTStd rem110">{{city.name}}</span>
						</div>
						<div class="description centered">
							<span class="trade18 rem100">{{city.content}}</span>
						</div>
						<div class="redirect centered">
							<button class="button button-clear button-dark trade18 rem110 underline" ng-click="showCity($event,city.view)">
								Learn More
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>