<ion-view view-title="Landmarks" class="section">
	<ion-nav-bar class="bar-nikecdmx tradeLTStd">
		<ion-nav-buttons side="primary">
  			<button class="button icon-left ion-chevron-left button-clear button-light" ng-click="backNav()"></button>
  		</ion-nav-buttons>
	</ion-nav-bar>
	<ion-content>
		<div class="cover">
			<img src="img/covers/landmarks.jpg">
		</div>
		<div class="title">
			<img src="img/titles/landmarks.jpg">
		</div>
		<div class="content">
			<div class="landmarks" ng-repeat="landmark in landmarks_results">
				<div class="list">
					<a class="item item-icon-left" ng-click="showLandmark($event,landmark.id)">
					    <img ng-src="{{landmark.icon}}">
					    <span class="tradeLTStd rem100">{{landmark.name}}</span>
					</a>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>