<ion-view view-title="Nike CDMX" hide-nav-bar="true" class="angel">
	<ion-content>
		<div class="register">
			<div id="header">
				<div class="centered">
					<span class="trade20 rem100">CREATE YOUR NIKE APP CDMX ACCOUNT</span>
				</div>
				<div class="centered">
					<span class="helvetica rem90 grey">Your access to all data from Nike app</span>
				</div>
				<div class="centered photo">&nbsp;</div>
			</div>
			<div id="form">
				<div class="row">
					<span class="helvetica rem90 grey">2 of 2</span>
				</div>
			</div>
			<div id="terms">
				<div class="row">
					<div class="col">
						<span class="tradeLTStd rem140 white">NIKE CONFIDENTIAL AND PROPRIETARY INFORMATION - NIKE REMINDER</span>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<p class="trade18 rem100 white">
							The contents of all Mexico City meetings regarding Nike's plans for future products and retail, merchandising and marketing contain highly confidential and proprietary information belonging to Nike. The meeting contents must not be shared or disclosed to any internal nor external person outside of the Mexico City meeting. This includes any other Nike employees, consultants, ETWs, coaches, athletes, strategic partners, agencies or other third parties. Do not blog, post or communicate any information regarding this meeting or its content to anyone nor any website by any means. If you believe that someone needs to know the contents here shared, please contact Legal department for previous approval.
						</p>
						<p class="trade18 rem100 white">
							We want to take this opportunity to remind you of the confidentiality duty that you have derived from your individual employment and confidentiality agreement. You are bound by that agreement to keep and protect Nike's information, including the hereby confidential product and presentation, both while being an active employee as well as after the termination of your labor relation with Nike . You are also bound by law and Nike policies to maintain all Nike's information confidential.
						</p>
						<p class="trade18 rem100 white">
							Violation of your legal and contractual obligations could lead to disciplinary and legal actions such as, but not only, termination of labor relationship.
						</p>
						<p class="trade18 rem100 white">
							Keep it Tight.
						</p>
					</div>
				</div>
				<!--<div class="row">
					<div class="col">
						<p class="trade18 rem110 white">
							Al hacer clic en ENVIAR, aceptas las <span class="underline">Políticas de privacidad</span> y los <span class="underline">Término de uso de Nike app.</span>
						</p>
					</div>
				</div>-->
			</div>
			<div id="actions">
				<div class="row">
					<div class="col">
						<button class="button button-full button-assertive" ng-click="submit($event)">
							I Agree
						</button>
						<!--<div class="centered">
							<button class="button button-clear button-light" ng-click="backNav($event)">
								Atrás
							</button>
						</div>-->
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>