<ion-view view-title="Nike CDMX" hide-nav-bar="true" class="angel">
	<ion-content>
		<div class="row logo">
			<div class="col col-10"></div>
			<div class="col col-80">
				<img src="img/nikecdmx.png">
			</div>
			<div class="col col-10"></div>
		</div>
		<div class="row">
			<div class="col" class="form-login">
				<div class="list">
					<label class="item item-input">
						<input type="email" placeholder="Nike email address" id="inputEmailLogin" name="inputEmailLogin">
					</label>
					<label class="item item-input">
						<input type="password" placeholder="Password" id="inputPasswordLogin" name="inputPasswordLogin">
					</label>
				</div>
				<button class="button button-full button-assertive" ng-click="submit($event)">
					Log in
				</button>
				<div class="centered">
					<button class="button button-clear button-light" ng-click="backNav($event)">
						Back
					</button>
				</div>
				<div class="centered">
					<button class="button button-clear button-light" ng-click="forgot($event)">
						Forgot Password?
					</button>
				</div>
			</div>
			<img id="avatarLS"/>
			<img id="agendaLS"/>
		</div>
	</ion-content>
</ion-view>