<ion-side-menus enable-menu-with-back-views="false">
  	<ion-side-menu-content>
    	<ion-nav-bar class="bar-stable"></ion-nav-bar>
		<ion-nav-view name="menuContent"></ion-nav-view>
	</ion-side-menu-content>

	<ion-side-menu side="left">
    	<ion-header-bar class="bar-stable">
			<h1 class="title">Nike CDMX</h1>
		</ion-header-bar>
		<ion-content>
			<ion-list>
				<ion-item menu-close href="#/app/the-city">The City</ion-item>
				<ion-item menu-close href="#/app/geniuses">Geniuses by Context</ion-item>
				<ion-item menu-close href="#/app/marketplace">Marketplace</ion-item>
				<ion-item menu-close href="#/app/cdmx">Enjoy CDMX</ion-item>
				<ion-item menu-close href="#/app/agenda">Agenda</ion-item>
				<ion-item menu-close href="#/app/chingopedia">Chingopedia</ion-item>
				<ion-item menu-close href="#/app/photofeed">Photofeed</ion-item>
				<ion-item menu-close href="#/app/users" ng-if="admin">Users</ion-item>
				<ion-item menu-close href="#/app/logout">Logout</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>

<script id="login.html" type="text/ng-template">
	<ion-modal-view>
    	<ion-header-bar>
			<h1 class="title">Nike CDMX</h1>
		</ion-header-bar>
		<ion-content class="padding">
			<div class="logo">
		    	<img src="img/nike.svg" alt="Nike CDMX" title="Nike CDMX" />
	    	</div>
	    	<div class="list">
		    	<label class="item item-input">
			    	<input type="text" id="inputEmail" name="inputEmail" placeholder="Email">
				</label>
				<label class="item item-input">
			   		<input type="password" id="inputPassword" name="inputPassword" placeholder="Password">
			   	</label>
			</div>
			<button class="button button-block button-positive" ng-click="checkLogin($event)">
				Log in
			</button>
		</ion-content>
	</ion-modal-view>
</script>

<script id="disclaimer.html" type="text/ng-template">
	<ion-modal-view>
    	<ion-header-bar>
			<h1 class="title">Nike CDMX</h1>
		</ion-header-bar>
		<ion-content class="padding">
			<h4>NIKE.COM TERMS OF USE</h4>
	    	<h6>Date of last revision: February 2011</h6>
			<p>PLEASE READ THESE TERMS OF USE CAREFULLY BEFORE USING THIS PLATFORM. By accessing or using this website, mobile application or other NIKE product or service (collectively the "Platform") on any computer, mobile phone, tablet, console or other device (collectively, "Device"), you signify that you have read, understand and agree to be bound by these Terms of Use and any other applicable law, whether or not you are a registered member of NIKE. NIKE may change these Terms of Use at any time without notice, effective upon its posting to the Platform. Your continued use of the Platform shall be considered your acceptance to the revised Terms of Use. If you do not agree to these Terms of Use, please do not use this Platform.</p>
			<button class="button button-full button-positive" ng-click="checkAgreement($event)">
				Agree
			</button>
		</ion-content>
	</ion-modal-view>
</script>

<script id="welcome.html" type="text/ng-template">
	<ion-modal-view>
    	<ion-header-bar>
			<h1 class="title">Nike CDMX</h1>
		</ion-header-bar>
		<ion-content class="padding">
			<div class="row">
				<div class="col center-align">
					<h4>WELCOME</h4>
			    	<p>Lorem Ipsum</p>
			    	<button class="button button-full button-positive" ng-click="goHome($event)">
						Continue
					</button>
				</div>
			</div>
		</ion-content>
	</ion-modal-view>
</script>