<ion-view view-title="Nike CDMX" hide-nav-bar="true" class="angel">
	<ion-content>
		<div class="register">
			<div id="header">
				<div class="centered">
					<span class="trade20 rem100">CREATE YOUR NIKE APP CDMX ACCOUNT</span>
				</div>
				<div class="centered">
					<span class="helvetica rem90 grey">Your access to all data from Nike app</span>
				</div>
				<div class="centered photo" ng-click="upload($event)">
					<div class="image">
						<img src="img/photo.png" id="file">
					</div>
					<div id="btnUpload">
						<img id="plus" src="img/plus.png">
					</div>
				</div>
			</div>
			<div id="form">
				<div class="row">
					<span class="helvetica rem90 grey">1 of 2</span>
				</div>
				<div class="row">
					<div class="col">
						<input class="trade18 rem110" type="text" placeholder="USERNAME" id="inputUsernameRegister" name="inputUsernameRegister">
					</div>
				</div>
				<div class="row">
					<div class="col">
						<input class="trade18 rem110" type="email" placeholder="NIKE EMAIL ADDRESS" id="inputEmailRegister" name="inputEmailRegister">
					</div>
				</div>
				<div class="row">
					<div class="col col-80">
						<input class="trade18 rem110" type="{{ inputType }}" placeholder="PASSWORD" id="inputPasswordRegister" name="inputPasswordinputPasswordRegister">
					</div>
					<div class="col col-20 alignRight">
						<button class="button button-outline button-light trade18 rem80" ng-click="showPassword($event)">
							SHOW
						</button>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="list">
							<label class="item item-input item-select">
								<div class="input-label trade18 grey">
									GENDER
					    		</div>
								<select class="trade18 rem110 white" id="inputGenderRegister" name="inputGenderRegister">
									<option selected>Male</option>
									<option>Female</option>
					    		</select>
							</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="list">
							<label class="item item-input item-select">
								<div class="input-label trade18 grey">
									COUNTRY
					    		</div>
								<select class="trade18 rem110 white" id="inputCountryRegister" name="inputCountryRegister">
									<option selected>Mexico</option>
									<option>United States</option>
									<option>SOCO</option>
									<option>Brazil</option>
									<option>LATAM Partners</option>
					    		</select>
							</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<button class="button button-full button-assertive" ng-click="disclaimer($event)">
							Sign up
						</button>
						<div class="centered">
							<button class="button button-clear button-light" ng-click="backNav($event)">
								Back
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>