<ion-view view-title="Nike CDMX" hide-nav-bar="true" class="angel">
	<ion-content>
		<div class="row logo">
			<div class="col col-10"></div>
			<div class="col col-80">
				<img src="img/nikecdmx.png">
			</div>
			<div class="col col-10"></div>
		</div>
		<div class="row">
			<div class="col">
				<button class="button button-full button-light" ng-click="register($event)">
					Join Now
				</button>
				<button class="button button-full button-assertive" ng-click="login($event)">
					Log in
				</button>
			</div>
		</div>
	</ion-content>
</ion-view>