<ion-view view-title="The Brand" class="section">
	<ion-content>
		<div class="cover">
			<img src="img/covers/thebrand.jpg">
		</div>
		<div class="title">
			<img src="img/titles/thebrand.jpg">
		</div>
		<div class="content">
			<div class="thebrand">	
				<ion-slide-box class="items" on-slide-changed="slideHasChanged($index)">
					<ion-slide ng-repeat="graph in graphs_results">
				    	<div class="placeholder">
					    	<img ng-src="{{ graph.graph }}">
					    </div>
					</ion-slide>
				</ion-slide-box>
			</div>
		</div>
	</ion-content>
</ion-view>