<ion-view view-title="Settings" class="angel">
	<ion-content>
		<div class="register">
			<div id="header">
				<div class="centered">
					<span class="trade20 rem100 uppercase">Set up your account NIKE APP CDMX</span>
				</div>
				<div class="centered">
					<span class="helvetica rem90 grey">Changes will use to NIke app</span>
				</div>
				<div class="centered photo" ng-click="upload($event)">
					<div class="image_update">
						<ion-spinner></ion-spinner>
					</div>
					<div id="btnEdit">
						Edit
					</div>
				</div>
			</div>
			<div id="form">
				<div class="row">
					<div class="col">
						<input class="trade18 rem110" type="text" placeholder="USERNAME" id="inputUsernameSettings" name="inputUsernameSettings" value="{{ session.nickname }}">
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="list">
							<label class="item item-input item-select">
								<div class="input-label trade18 grey">
									GENDER
					    		</div>
								<select ng-model="gender" class="trade18 rem110 white" id="inputGenderSettings" name="inputGenderSettings">
									<option value="Male">Male</option>
									<option value="Female">Female</option>
					    		</select>
							</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="list">
							<label class="item item-input item-select">
								<div class="input-label trade18 grey">
									COUNTRY
					    		</div>
								<select ng-model="country" class="trade18 rem110 white" id="inputCountrySettings" name="inputCountrySettings">
									<option selected>Mexico</option>
									<option>United States</option>
									<option>SOCO</option>
									<option>Brazil</option>
									<option>LATAM Partners</option>
					    		</select>
							</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<button class="button button-full button-assertive" ng-click="saveChanges($event)">
							Save Changes
						</button>
						<div class="centered">
							<button class="button button-clear button-light" ng-click="goLogout($event)">
								Logout
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>