<ion-view view-title="The Marketplace" class="section">
	<ion-content>
		<div class="cover">
			<img src="img/covers/themarketplace.jpg">
		</div>
		<div class="title">
			<img src="img/titles/themarketplace.jpg">
		</div>
		<div class="content">
			<div class="themarketplace">
				<div class="row">
					<div class="col">
						<div class="thumbnail">
							<img src="img/thumbnails/themarketplace_consumptonmap.jpg">
						</div>
						<div class="title centered">
							<span class="tradeLTStd rem110">CONSUMPTION MAP</span>
						</div>
						<div class="redirect">
							<button class="button button-clear special button-dark trade18 rem110 underline" ng-click="showTheCityCenter($event)">
								The city center overview
							</button>
							<button class="button button-clear special button-dark trade18 rem110 underline" ng-click="showSouth($event)">
								South overview
							</button>
							<button class="button button-clear special button-dark trade18 rem110 underline" ng-click="showEast($event)">
								East overview
							</button>
							<button class="button button-clear special button-dark trade18 rem110 underline" ng-click="showWest($event)">
								West overview
							</button>
							<button class="button button-clear special button-dark trade18 rem110 underline" ng-click="showNorth($event)">
								North overview
							</button>
							<button class="button button-clear special button-dark trade18 rem110 underline" ng-click="showNorthEast($event)">
								North East overview
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="themarketplaces" ng-repeat="marketplace in marketplaces_results">
				<div class="row">
					<div class="col">
						<div class="thumbnail">
							<img ng-src="{{marketplace.thumbnail}}">
						</div>
						<div class="title centered">
							<span class="tradeLTStd rem110">{{marketplace.name}}</span>
						</div>
						<div class="description centered">
							<span class="trade18 rem100">{{marketplace.content}}</span>
						</div>
						<div class="redirect centered">
							<button class="button button-clear button-dark trade18 rem110 underline" ng-click="showMarketplace($event,marketplace.view)">
								Learn more
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>