<ion-view view-title="The Must See Doors" class="section">
	<ion-nav-bar class="bar-nikecdmx tradeLTStd">
		<ion-nav-buttons side="primary">
  			<button class="button icon-left ion-chevron-left button-clear button-light" ng-click="backNav()"></button>
  		</ion-nav-buttons>
	</ion-nav-bar>
	<ion-content overflow-scroll="true">
		<div class="cover">
			<img src="img/covers/themarketplace/themustseedoors.jpg">
		</div>
		<div class="title">
			<img src="img/titles/themustseedoors.jpg">
		</div>
		<div class="content">
			<div class="stores">
				<div class="repeater" ng-repeat="retailer in stores_results">
					<div class="row" ng-click="showData($event,retailer.id)">
						<div id="icon" class="col col-80">
							<span class="tradeLTStd rem110">{{ retailer.id }}. {{ retailer.name }}</span>
						</div>
						<div id="arrow" class="col col-20 alignRight">
							<img ng-src="{{word != retailer.id && 'img/arrow_close.png' || 'img/arrow_open.png'}}">
						</div>
					</div>
					<div class="row">
						<div class="col">
							<hr />
							<div class="graphs" ng-show="word == retailer.id">
								<div class="trade18 rem110 word">
									<img ng-src="{{ retailer.title }}">
								</div>
								<div class="items" ng-repeat="image in retailer.items">
									<div class="placeholder">
									    <img ng-src="{{ image }}">
								    </div>
								</div>
								<!--
								<div class="row">
									<div class="col">
										<div class="title">
											<img ng-src="{{ retailer.data }}">
										</div>
									</div>
								</div>-->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>