<ion-view view-title="South Overview" class="section">
	<ion-nav-bar class="bar-nikecdmx tradeLTStd">
		<ion-nav-buttons side="primary">
  			<button class="button icon-left ion-chevron-left button-clear button-light" ng-click="backNav()"></button>
  		</ion-nav-buttons>
	</ion-nav-bar>
	<ion-content>
		<div class="cover">
			<img ng-src="img/covers/themarketplace/south.jpg">
		</div>
		<div class="consumptonmap" ng-repeat="city in south_results">
			<div class="area" ng-if="city.id == 1">
				<div class="title">
					<img ng-src="{{ city.title }}" ng-if="city.id == 1">
				</div>
				<div class="content">
					<div class="row">
						<div class="col">
							<span class="tradeLTStd rem140 title" ng-bind-html="city.name" ng-if="city.id == 1"></span>
							<span class="trade18 rem100 paragraph" ng-bind-html="city.content | html" ng-if="city.id == 1"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="graphs" ng-if="city.id == 2">
				<div class="title">
					<img ng-src="{{ city.title }}" ng-if="city.id == 2">
				</div>
				<ion-slide-box class="items" on-slide-changed="slideHasChanged($index)">
					<ion-slide ng-repeat="item in city.graphs" ng-if="city.id == 2">
				    	<div class="placeholder">
					    	<img ng-src="{{ item }}">
					    </div>
					</ion-slide>
				</ion-slide-box>
			</div>
			<div class="tradezones" ng-if="city.id == 3">
				<div class="title">
					<img ng-src="{{ city.title }}" ng-if="city.id == 3">
				</div>
				<div class="content">
					<div class="row">
						<div class="col">
							<div class="trades" ng-repeat="trade in city.items">
								<span class="tradeLTStd rem140 title" ng-bind-html="trade.name" ng-if="city.id == 3"></span>
								<span class="trade18 rem100 paragraph" ng-bind-html="trade.content | html" ng-if="city.id == 3"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>