<ion-view view-title="Upload a photo" class="section">
	<div class="tabs tabs-icon-only">
		<a class="tab-item" ng-click="goPhotofeedIntern($event)">
			<i class="icon ion-home"></i>
	  	</a>
	  	<a class="tab-item" ng-click="goPhotofeedCreate($event)">
	    	<i class="icon ion-camera"></i>
	  	</a>
	  	<a class="tab-item" ng-click="goPhotofeedUser($event)">
	    	<i class="icon ion-person"></i>
	  	</a>
	</div>
	<ion-content overflow-scroll="true">
		<div class="content">
			<div class="photofeed">
				<div class="list card">
					<div class="item item-avatar">
						<img ng-src="{{ session.avatar.url }}">
						<h2 ng-bind-html="session.nickname"></h2>
						<span ng-bind-html="date | date"></span>
  					</div>
  					<div class="item item-body">
	  					<div id="new" ng-click="upload($event)"></div>
	  					<!--<input type="text" id="description" name="description" placeholder="Set a Description">-->
	  					<textarea rows="4" id="description" name="description" placeholder="Set a Description"></textarea>
						<!--<p>
							<a href="#" class="subdued">1 Like</a>
							<a href="#" class="subdued">5 Comments</a>
    					</p>-->
  					</div>
  					<!--<div class="item tabs tabs-secondary tabs-icon-left">
  						<a class="tab-item" href="#">
  							<i class="icon ion-thumbsup"></i>
  							Like
    					</a>
						<a class="tab-item" href="#">
							<i class="icon ion-chatbox"></i>
							Comment
    					</a>
						<a class="tab-item" href="#">
							<i class="icon ion-share"></i>
							Share
    					</a>
  					</div>-->
				</div>
				<div class="publish">
					<div class="row">
						<div class="col">
							<button class="button button-full button-assertive" ng-click="publish($event)">
								Publish
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>