<ion-view view-title="Photofeed by User" class="section">
	<div class="tabs tabs-icon-only">
		<a class="tab-item" ng-click="goPhotofeedIntern($event)">
			<i class="icon ion-home"></i>
	  	</a>
	  	<a class="tab-item" ng-click="goPhotofeedCreate($event)">
	    	<i class="icon ion-camera"></i>
	  	</a>
	  	<a class="tab-item" ng-click="goPhotofeedUser($event)">
	    	<i class="icon ion-person"></i>
	  	</a>
	</div>
	<ion-content overflow-scroll="true">
		<div class="content">
			<div class="photofeed">
				<div class="feed" ng-repeat="item in results">
					<div class="list card">
						<div class="item item-avatar">
							<img ng-src="{{ item.avatar }}">
							<h2 ng-bind-html="item.owner"></h2>
							<span ng-bind-html="item.createdAt | date"></span>
	  					</div>
	  					<div class="item item-body">
	  						<img class="full-image" ng-src="{{ item.image }}">
	  						<p>{{ item.description }}</p>
							<!--<p>
								<a href="#" class="subdued">1 Like</a>
								<a href="#" class="subdued">5 Comments</a>
	    					</p>-->
	  					</div>
	  					<!--<div class="item tabs tabs-secondary tabs-icon-left">
	  						<a class="tab-item" href="#">
	  							<i class="icon ion-thumbsup"></i>
	  							Like
	    					</a>
							<a class="tab-item" href="#">
								<i class="icon ion-chatbox"></i>
								Comment
	    					</a>
							<a class="tab-item" href="#">
								<i class="icon ion-share"></i>
								Share
	    					</a>
	  					</div>-->
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>