<ion-view view-title="The Tour of Today" class="section">
	<ion-nav-bar class="bar-nikecdmx tradeLTStd">
		<ion-nav-buttons side="primary">
  			<button class="button icon-left ion-chevron-left button-clear button-light" ng-click="backNav()"></button>
  		</ion-nav-buttons>
	</ion-nav-bar>
	<ion-content>
		<div class="cover">
			<img src="img/covers/thetouroftoday.jpg">
		</div>
		<div class="title">
			<img src="img/titles/thetouroftoday.jpg">
		</div>
		<div class="content">
			<div class="thetourofday">
				<!-- BANNER NO TOUR 
				<div class="ad">
					<span class="trade365 uppercase rem140">Retail Booklet will be provided by Mexico Merchandising Team.</span>
				</div>
				<div class="swoosh">
					<img src="img/swoosh_black.png">
				</div>
				<div class="ad">
					<span class="trade365 uppercase rem140">Thanks.</span>
				</div>
				-->
				<div class="tour" ng-repeat="item in results">
					<div class="header">
						<div class="row">
							<div class="col">
								<span class="tradeLTStd rem140 title uppercase">{{ item.title }}</span>
								<hr />
							</div>
						</div>
					</div>
					<div class="content" ng-repeat="date in item.dates_ordered">
						<div class="dates">
							<div class="date_title">
								<span class="tradeLTStd rem140 title orange-gradient uppercase">{{ date.title }}</span>
							</div>
						</div>
						<div class="courses">
							<div class="row">
								<div class="col">
									<div class="stores centered" ng-repeat="store in date.stores_ordered">
										<span class="trade18 rem100 underline block" ng-click="showStore($event,store.id)">{{ store.title }}</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tour" ng-show="!results.length">
					<div class="ad">
						<span class="trade365 uppercase rem140">Retail Booklet will be provided by Mexico Merchandising Team.</span>
					</div>
					<div class="swoosh">
						<img src="img/swoosh_black.png">
					</div>
					<div class="ad">
						<span class="trade365 uppercase rem140">Thanks.</span>
					</div>
				</div>
				<!-- TOUR SERVICE
				<div class="header">
					<div class="row">
						<div class="col">
							<span class="tradeLTStd rem140 title">DECEMBER 2015</span>
							<hr />
						</div>
					</div>
				</div>
				<div class="content">
					<div class="courses" ng-repeat="course in courses_results">
						<div class="row">
							<div id="day" class="col">
								<img ng-src="{{ course.day }}">
							</div>
							<div class="col">
								<div class="day">
									<span class="trade18 rem100">{{ course.name }}</span>
								</div>
							</div>
							<div class="col col-50">
								<div class="stores" ng-repeat="link in course.items">
									<span class="trade18 rem100 underline block" ng-click="showStore($event,link.id)">{{ link.name }}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				-->
			</div>
		</div>
	</ion-content>
</ion-view>