<ion-view view-title="{{ course.name }}" class="section">
	<ion-nav-bar class="bar-nikecdmx tradeLTStd">
		<ion-nav-buttons side="primary">
  			<button class="button icon-left ion-chevron-left button-clear button-light" ng-click="backNav()"></button>
  		</ion-nav-buttons>
	</ion-nav-bar>
	<ion-content>
		<div class="cover">
			<img ng-src="{{ course.cover }}">
		</div>
		<div class="title">
			<img ng-src="{{ course.title }}">
		</div>
		<div class="title">
			<img ng-src="{{ course.graph }}">
		</div>
		<div class="content">
			<div class="course">
				<div class="row">
					<div class="col">
						<div class="thumbnail">
							<img ng-src="{{ course.thumbnail }}">
						</div>
						<div class="description">
							<span class="trade18 rem100 justify" ng-bind-html="course.content | html"></span>
						</div>
						<div class="video" ng-click="videoHOH()">
							<img src="img/graphs/thecourseoftoday/houseofher/play.png">
							<span class="trade18 rem100 block">Watch the video</span>
							<!--<span class="trade18 rem100 block">PASSWORD: nikewomenmx</span>-->
						</div>
						<video id="hoh" poster="img/covers/thecity.jpg">
					        <source src="video/hoh.mp4">
					    </video>
					</div>
				</div>
				<div class="numbers">
					<img ng-src="{{ course.numbers }}">
				</div>
			</div>
		</div>
		<div class="title">
			<img src="img/titles/socialmedia.jpg">
		</div>
		<ion-slide-box class="items" on-slide-changed="slideHasChanged($index)">
			<ion-slide ng-repeat="item in course.items">
		    	<div class="placeholder">
			    	<img ng-src="{{ item }}">
			    </div>
			</ion-slide>
		</ion-slide-box>
		<br />
	</ion-content>
</ion-view>