<ion-view view-title="The Tour of Today" class="section">
	<ion-content>
		<div class="cover">
			<img src="img/covers/thetouroftoday.jpg">
		</div>
		<div class="title">
			<img src="img/titles/thetouroftoday.jpg">
		</div>
		<div class="content">
			<div class="thetourofday">
				<div class="tour">
					<div class="header">
						<div class="row">
							<div class="col">
								<span class="tradeLTStd rem140 title uppercase">SELECT YOUR CATEGORY</span>
								<hr />
							</div>
						</div>
					</div>
					<div class="content">
						<div class="courses">
							<div class="row">
								<div class="col">
									<div class="stores centered" ng-repeat="item in results">
										<span class="trade18 rem100 underline block" ng-click="showDates($event,item.dates)">{{ item.title }}</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tour" ng-show="!results.length">
					<div class="ad">
						<span class="trade365 uppercase rem140">Retail Booklet will be provided by Mexico Merchandising Team.</span>
					</div>
					<div class="swoosh">
						<img src="img/swoosh_black.png">
					</div>
					<div class="ad">
						<span class="trade365 uppercase rem140">Thanks.</span>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>