<ion-view view-title="Create Event" class="angel">
	<ion-nav-bar class="bar-nikecdmx tradeLTStd">
		<ion-nav-buttons side="primary">
  			<button class="button icon-left ion-chevron-left button-clear button-light" ng-click="backNav()"></button>
  		</ion-nav-buttons>
	</ion-nav-bar>
	<ion-content>
		<div class="agenda">
			<div id="header">
				<div class="centered">
					<span class="tradeLTStd rem140">CREA TU EVENTO</span>
				</div>
				<div class="centered">
					<span class="helvetica rem90 grey">Se notificará a tus contactos elegidos</span>
				</div>
			</div>
			<div id="form">
				<div class="row">
					<div class="col">
						<input class="trade18 rem110" type="text" placeholder="TÍTULO DEL EVENTO">
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="list">
							<label class="item item-input item-select">
								<div class="input-label trade18 grey">
									DONDE
					    		</div>
								<select class="trade18 rem110 white">
									<option selected>Lugar 1</option>
									<option>Lugar 2</option>
									<option>Lugar 3</option>
									<option>Lugar 4</option>
					    		</select>
							</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="list">
							<label class="item item-input item-select">
								<div class="input-label trade18 grey">
									INICIA DIA
					    		</div>
								<select class="trade18 rem110 white">
									<option selected>01</option>
									<option>02</option>
									<option>03</option>
									<option>04</option>
									<option>05</option>
									<option>06</option>
									<option>07</option>
									<option>08</option>
					    		</select>
							</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="list">
							<label class="item item-input item-select">
								<div class="input-label trade18 grey">
									INICIA HORA
					    		</div>
								<select class="trade18 rem110 white">
									<option selected>9:00</option>
									<option>10:00</option>
									<option>11:00</option>
									<option>12:00</option>
									<option>13:00</option>
									<option>14:00</option>
									<option>15:00</option>
									<option>16:00</option>
									<option>17:00</option>
									<option>18:00</option>
									<option>19:00</option>
									<option>20:00</option>
									<option>21:00</option>
									<option>22:00</option>
					    		</select>
							</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="list">
							<label class="item item-input item-select">
								<div class="input-label trade18 grey">
									TERMINA DIA
					    		</div>
								<select class="trade18 rem110 white">
									<option selected>01</option>
									<option>02</option>
									<option>03</option>
									<option>04</option>
									<option>05</option>
									<option>06</option>
									<option>07</option>
									<option>08</option>
					    		</select>
							</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="list">
							<label class="item item-input item-select">
								<div class="input-label trade18 grey">
									TERMINA HORA
					    		</div>
								<select class="trade18 rem110 white">
									<option selected>9:00</option>
									<option>10:00</option>
									<option>11:00</option>
									<option>12:00</option>
									<option>13:00</option>
									<option>14:00</option>
									<option>15:00</option>
									<option>16:00</option>
									<option>17:00</option>
									<option>18:00</option>
									<option>19:00</option>
									<option>20:00</option>
									<option>21:00</option>
									<option>22:00</option>
					    		</select>
							</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<textarea class="trade18 rem110" rows="6" placeholder="DESCRIPCIÓN DEL EVENTO"></textarea>
					</div>
				</div>
				<div class="addmember" ng-click="showMembers($event)">
					<div class="row">
						<div class="col col-80">
							<span class="trade18 grey">AGREGAR PARTICIPANTES</span>
						</div>
						<div class="col col-20 alignRight">
							<img class="icon" src="img/add_member.png">
						</div>
					</div>
				</div>
				<button class="button button-full button-assertive" ng-click="showDemo($event,1)">
					Crear evento
				</button>
			</div>
		</div>
	</ion-content>
</ion-view>