<ion-view view-title="{{ agenda.title }}" class="angel">
	<ion-nav-bar class="bar-nikecdmx tradeLTStd">
		<ion-nav-buttons side="primary">
  			<button class="button icon-left ion-chevron-left button-clear button-light" ng-click="backNav()"></button>
  		</ion-nav-buttons>
	</ion-nav-bar>
	<ion-content>
		<div class="agenda">
			<div id="header">
				<div class="centered">
					<span class="tradeLTStd rem140">CALENDAR</span>
				</div>
				<div class="centered">
					<span class="helvetica rem90 grey">Here you will find your next events</span>
				</div>
			</div>
			<div class="events">
				<div class="program">
					<div class="row">
						<div class="col">
							<img ng-src="{{ agenda.image._url }}" />
							<span class="trade18 rem90 grey">Last Update: {{ agenda.update | date: 'medium' }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>