<ion-view view-title="Agenda" class="section">
	<ion-content>
		<div class="cover">
			<img src="img/covers/agenda.jpg">
		</div>
		<div class="content">
			<div class="thetourofday">
				<div class="no_tour" ng-show="!agendas.length">
					<div class="ad">
						<span class="trade365 uppercase rem140">TODAY'S SCHEDULE WILL BE PROVIDED BY JOSE ELTON.</span>
					</div>
					<div class="swoosh">
						<img src="img/swoosh_black.png">
					</div>
					<div class="ad">
						<span class="trade365 uppercase rem140">Thanks.</span>
					</div>
				</div>
				<div class="tour" ng-show="agendas.length">
					<div class="header">
						<div class="row">
							<div class="col">
								<span class="tradeLTStd rem140 title uppercase">SELECT YOUR CATEGORY</span>
								<hr />
							</div>
						</div>
					</div>
					<div class="content">
						<!--<div class="courses">
							<div class="row">
								<div class="col">
									<div class="stores centered" ng-repeat="store in date.stores">
										<span class="trade18 rem100 underline block" ng-click="showStore($event,store.id)">{{ store.title }}</span>
									</div>
								</div>
							</div>
						</div>-->
						<div class="courses" ng-repeat="item in agendas">
							<div class="row">
								<div class="col centered">
									<!--<img ng-src="{{ agenda._url }}" />
									<span class="trade18 rem90 grey" ng-if="showLastUpdate">Last Update: {{ lastUpdate | date: 'medium' }}</span>-->
									<span class="trade18 rem100 underline block" ng-click="showAgenda($event,item.detail)">{{ item.title }}</span>
								</div>
							</div>
						</div>
				<!--
				<ul class="list" ng-repeat="event in agenda_results">
				    <li class="item">
				    	<span class="tradeLTStd rem140 block orange-gradient">{{ event.date }}</span>
				    	<div class="items" ng-repeat="item in event.items">
					    	<span class="tradeLTStd rem110 block orange-gradient">{{ item.time }}</span>
					    	<span class="trade18 rem110 block">{{ item.name }}</span>
					    	<div class="data">
						    	<div class="row">
							    	<div class="col col-50">
								    	<span class="trade18 rem100"><b>PARTICIPANTS</b></span>
								    	<span class="trade18 rem100">{{ item.participants }}</span>
								    	<div class="marker">
									    	<img src="img/marker.png">
								    	</div>
							    	</div>
							    	<div class="col col-50 alignRight">
								    	<span class="trade18 rem100 uppercase" ng-bind-html="item.place | html"></span>
							    	</div>
						    	</div>
					    	</div>
					    	<hr />
				    	</div>
				    </li>
				</ul>-->
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>