<ion-view view-title="{{consumer.name}}" class="section">
	<ion-nav-bar class="bar-nikecdmx tradeLTStd">
		<ion-nav-buttons side="primary">
  			<button class="button icon-left ion-chevron-left button-clear button-light" ng-click="backNav()"></button>
  		</ion-nav-buttons>
	</ion-nav-bar>
	<ion-content>
		<div class="content">
			<div class="map centered">
				<img ng-src="{{consumer.map_one}}">
			</div>
			<div class="map centered">
				<img ng-src="{{consumer.map_two}}">
			</div>
			<div class="map centered">
				<img ng-src="{{consumer.map_three}}">
			</div>
		</div>
	</ion-content>
</ion-view>