<ion-view view-title="The Consumer" class="section">
	<ion-content>
		<div class="cover">
			<img src="img/covers/theconsumer.jpg">
		</div>
		<div class="title">
			<img src="img/titles/theconsumer.jpg">
		</div>
		<div class="content">
			<div class="consumers" ng-repeat="consumer in consumer_results">
				<div class="row">
					<div class="col">
						<div class="thumbnail">
							<img ng-src="{{consumer.thumbnail}}">
						</div>
						<div class="title centered">
							<span class="tradeLTStd rem110">{{consumer.name}}</span>
						</div>
						<div class="description centered">
							<span class="trade18 rem100">{{consumer.content}}</span>
						</div>
						<div class="redirect centered">
							<button class="button button-clear button-dark trade18 rem110 underline" ng-click="showConsumer($event,consumer.id)">
								Learn more
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>