<ion-view view-title="Chingopedia" class="section">
	<ion-content overflow-scroll="true">
		<div class="cover">
			<img src="img/covers/chingopedia.jpg">
		</div>
		<div class="title">
			<img src="img/titles/chingopedia.jpg">
		</div>
		<div class="content">
			<div class="chingopedia">
				<div class="header">
					<div class="row">
						<div class="col">
							<span class="tradeLTStd rem140 title">TO SURVIVE IN MEXICO CITY</span>
							<hr />
						</div>
					</div>
				</div>
				<div class="items" ng-repeat="letter in words_results">
					<div class="row" ng-click="showWords($event,letter.id)">
						<div id="icon" class="col col-50">
							<img ng-src="{{ letter.icon }}">
						</div>
						<div id="arrow" class="col col-50 alignRight">
							<img ng-src="{{word != letter.id && 'img/arrow_close.png' || 'img/arrow_open.png'}}">
						</div>
					</div>
					<div class="row">
						<div class="col">
							<hr />
							<div class="words" ng-show="word == letter.id" ng-repeat="item in letter.items">
								<div class="trade18 rem110 word">
									<span class="orange">{{ item.word }}:</span> {{ item.definition }}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="footer">
					<img src="img/chingopediafooter.png">
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>