/* FONTS */
@font-face { font-family: 'TradeGothic18'; src: url('fonts/TradeGothic18/TradeGothicNo.18-Condensed.eot'); }
@font-face { font-family: 'TradeGothic18'; src: url('fonts/TradeGothic18/TradeGothicNo.18-Condensed.woff') format('woff'), url('fonts/TradeGothic18/TradeGothicNo.18-Condensed.svg#TradeGothic18') format('svg'); }
@font-face { font-family: 'TradeGothic20'; src: url('fonts/TradeGothic20/TradeGothicNo.2-Bold.eot'); }
@font-face { font-family: 'TradeGothic20'; src: url('fonts/TradeGothic20/TradeGothicNo.2-Bold.woff') format('woff'), url('fonts/TradeGothic20/TradeGothicNo.2-Bold.svg#TradeGothic20') format('svg'); }
@font-face { font-family: 'TradeGothicLH'; src: url('fonts/TradeGothicLH/TradeGothicLH-ExtendedBold.eot'); }
@font-face { font-family: 'TradeGothicLH'; src: url('fonts/TradeGothicLH/TradeGothicLH-ExtendedBold.woff') format('woff'), url('fonts/TradeGothicLH/TradeGothicLH-ExtendedBold.svg#TradeGothicLH') format('svg'); }
@font-face { font-family: 'TradeGothicLT'; src: url('fonts/TradeGothicLT/TradeGothicLT.eot'); }
@font-face { font-family: 'TradeGothicLT'; src: url('fonts/TradeGothicLT/TradeGothicLT.woff') format('woff'), url('fonts/TradeGothicLT/TradeGothicLT.svg#TradeGothicLT') format('svg'); }
@font-face { font-family: 'TradeGothicLTStd'; src: url('fonts/TradeGothicLTStd/TradeGothicLTStd-BdCn20.eot'); }
@font-face { font-family: 'TradeGothicLTStd'; src: url('fonts/TradeGothicLTStd/TradeGothicLTStd-BdCn20.woff') format('woff'), url('fonts/TradeGothicLTStd/TradeGothicLTStd-BdCn20.svg#TradeGothicLTStd') format('svg'); }
@font-face { font-family: 'TradeGothicNike365'; src: url('fonts/TradeGothicNike365/TradeGothicforNike365-BdCn.eot'); }
@font-face { font-family: 'TradeGothicNike365'; src: url('fonts/TradeGothicNike365/TradeGothicforNike365-BdCn.woff') format('woff'), url('fonts/TradeGothicNike365/TradeGothicforNike365-BdCn.svg#TradeGothicNike365') format('svg'); }

/* GENERAL */
button { font-family: 'Helvetica', sans-serif !important; }
input { -webkit-appearance: none; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; }
.angel { background: transparent url('../img/background.jpg') no-repeat center center; background-size: cover; }
.alignLeft { text-align: left !important; }
.alignRight { text-align: right !important; }
.centered { text-align: center !important; }
.justify { text-align: justify !important; }
.helvetica { font-family: 'Helvetica', sans-serif !important; }
.trade18 { font-family: 'TradeGothic18', sans-serif !important; }
.trade20 { font-family: 'TradeGothic20', sans-serif !important; }
.tradeLH { font-family: 'TradeGothicLH', sans-serif !important; }
.tradeLT { font-family: 'TradeGothicLT', sans-serif !important; }
.tradeLTStd { font-family: 'TradeGothicLTStd', sans-serif !important; }
.trade365 { font-family: 'TradeGothicNike365', sans-serif !important; }
.rem50 { font-size: 0.5rem !important; line-height: 0.5rem !important; }
.rem70 { font-size: 0.7rem !important; line-height: 0.7rem !important; }
.rem80 { font-size: 0.8rem !important; line-height: 0.8rem !important; }
.rem90 { font-size: 0.9rem !important; line-height: 0.9rem !important; }
.rem100 { font-size: 1rem !important; line-height: 1rem !important; }
.rem110 { font-size: 1.1rem !important; line-height: 1.1rem !important; }
.rem140 { font-size: 1.4rem !important; line-height: 1.4rem !important; }
.white { color: #FFF !important; }
.grey { color: #c2c2c2 !important; }
.orange-gradient { color: #FE2D00; }
.inline { display: inline-block !important; }
.underline { text-decoration: underline; }
.uppercase { text-transform: uppercase; }
.block { display: block; }
.bar-nikecdmx { background-color: #000 !important; color: #FFF; text-transform: uppercase; border: none; }
.bar .title { top: 4px; }
.btnMenu img { width: 50%; margin-top: 4px; margin-left: -20px; }
.sidemenu { background-color: #1A1A1A; }
.sidemenu .swoosh { width: 40%; padding: 20px; }
.sidemenu .list .item { height: 48px; background-color: transparent; color: #484847; text-transform: uppercase; border-color: #484847; }
.sidemenu .list .item:first-child { height: auto; border-top: 0px; padding: 0px 10px; }
.sidemenu .list .item:last-child { border-bottom: 0px; }
.sidemenu .list .item .icon { width: 30%; display: block; margin-bottom: 10px; }
.sidemenu .list .item .image,.sidemenu .list .item .image img{ width: 100px; height: 100px; -webkit-border-radius: 60px; border-radius: 60px; -moz-border-radius: 60px; margin-bottom: 10px; display: block; }
.sidemenu .list .item .name { text-transform: none; } 
.sidemenu .list .item .settings { text-align: right; }
.sidemenu .list .item .settings img { width: 160%; margin-top: -4px; }
.section .cover img { width: 100%; margin-top: -44px; }
.section .cover #hispanic, #hoh { position: absolute; top: -1300px; left: 0; } 
.section .cover .text { margin-top: -120px; margin-bottom: 40px; }
.section .cover .video { text-align: center; margin-bottom: 39px; }
.section .cover .video img { width: 40%; }
.section .title img { width: 100%; margin-top: -6px; }
.section .content .thumbnail img { width: 100%; }
.section .content .title { margin: 10px; }
.section .content .redirect { margin: 10px; }
.section .content .map img { width: 100%; }

/* START & LOGIN */
.logo { margin-top: 20%; margin-bottom: 20%; }
.logo .col img { width: 100%; }

/* LOGIN */
.item-input { margin-bottom: 10px; }
.item-input:last-child { margin-bottom: 0px; }

/* REGISTER */
.register { color: #FFF; margin-top: 10%; }
.register .photo { margin-top: 6%; margin-bottom: 6%; }
.register .photo img { width: 30%; }
.register .photo #btnUpload { width: 30%; margin: -20px auto; cursor: pointer;  }
.register .photo #btnEdit { width: 30%; margin: 0px auto; cursor: pointer;  }
.register #form input[type=text],.register #form input[type=email],.register #form input[type=password] { background-color: transparent; width: 100%; border:0; border-bottom: 2px solid #c2c2c2; color: #FFF; margin-top: 2%; margin-bottom: 2%; }
.register #form .item-select { background-color: transparent; border:0; color: #FFF; }
.register #form select { background-color: transparent; }
.register #terms { margin-top: 10%; margin-bottom: 10%; }
.action-sheet-options {  }
.action-sheet-title { color: #FFF; font-family: 'Helvetica', sans-serif; }
.action-sheet .button { color: #FFF; }
.action-sheet-group { background-color: #FF2E0A !important; }
.register .image,.register .image_update { margin: 0 auto; }
.register .image,.register .image_update,.register .image_update img,.register .image img{ width: 100px; height: 100px;	-webkit-border-radius: 60px; border-radius: 60px; -moz-border-radius: 60px; }
.spinner svg { width: 60px; height: 60px; margin: 20px; stroke: #FF8B00; fill: #FF2E0A;}

/* CDMX BY NUMBERS */
.graphs { margin-bottom: 20px; }
.items .placeholder { text-align: center; padding-bottom: 0px; }
.items .placeholder img { width: 80%; margin: 10%; display: block; }

/* HISTORY */
.history .gallery .slider-pager { background: #F0F0EF; height: 40px; padding-top: 10px; bottom: 25px; }
.history .gallery .placeholder { text-align: center; padding-bottom: 60px; }
.history .gallery .placeholder img { width: 100%; }
.history .content .title { margin: 0; text-transform: uppercase; }
.history .content .paragraph p { margin-top: 20px; text-align: justify; }

/* LANDMARKS */
.landmarks .item { border: none; }
.landmarks .item img { width: 20%; margin-left: -40px; float: left; }
.landmarks .item span { text-transform: uppercase; margin-left: 20px; margin-top: 30px; float: left; letter-spacing: 1px; border-bottom: 1px solid #000; }

/* LANDMARK DETAIL */
.landmark .gallery .slider-pager { background: #F0F0EF; height: 40px; padding-top: 10px; bottom: 25px; }
.landmark .gallery .placeholder { text-align: center; padding-bottom: 60px; }
.landmark .gallery .placeholder img { width: 100%; }
.landmark .content .title { margin: 0; text-transform: uppercase; }
.landmark .content .paragraph p { margin-top: 20px; text-align: justify; }

/* THE BRAND */
.thebrand .asset img { width: 100%; }
.thebrand .items { margin-top: -10px; }
.thebrand .items .placeholder img { width: 100%; margin: 0 0 14% 0;}

/* THE MARKETPLACE */
.themarketplace .special { display: block; margin-left: -14px; }
.consumptonmap .graphs { margin-bottom: 20px; }
.consumptonmap .items .placeholder { text-align: center; padding-bottom: 0px; }
.consumptonmap .items .placeholder img { width: 80%; margin: 10%; display: block; }
.consumptonmap .content { margin-top: 20px; margin-bottom: 20px; }
.consumptonmap .content .title { margin: 20px 0; text-transform: uppercase; }
.consumptonmap .content .paragraph p { margin-top: 20px; }
.consumptonmap .tradezones .content .col { text-align: center; }
.consumptonmap .tradezones .content .paragraph p { text-align: center; }
.retailers { margin-top: 10%; }
.retailers #icon { margin-top: 10px; }
.retailers .graphs .word img { width: 100%; }
.retailers .graphs { margin-bottom: 20px; }
.retailers .slider { visibility: visible; }
.retailers .items .placeholder { text-align: center; padding-bottom: 30px; }
.retailers .items .placeholder img { width: 100%; margin: 0%; display: block; }
.stores { margin-top: 10%; }
.stores #icon { margin-top: 10px; }
.stores .graphs .word img { width: 100%; }
.stores .graphs { margin-bottom: 20px; }
.stores .slider { visibility: visible; }
.stores .items .placeholder { text-align: center; padding-bottom: 30px; }
.stores .items .placeholder img { width: 100%; margin: 0%; display: block; }

/* AGENDA */
.agenda { color: #FFF; margin-top: 10%; }
.agenda .events { margin-top: 10%; }
.agenda .events .list .item { background-color: transparent; color: #FFF; border: none; }
.agenda .events .list .items { margin-top: 6%; margin-left: 2%; }
.agenda .events .list .items .data { margin-top: 6%; }
.agenda .events .list .items .data .row, .agenda .events .list .items .data .col { padding: 0; }
.agenda .events .list .items .data .marker { position: absolute; width: 60%; left: 56%; margin-top: -7%; }
.agenda .events .list .items .data .marker img { width: 10%; }
.agenda .events .members { margin-top: 4%; }
.agenda .events .members img { width: 14%; float: left; margin-right: 4%; margin-bottom: 4%; }
.agenda .events .button { margin-top: 20%; }
.agenda .events .program img { width: 100%; margin-bottom: 10%; }
.agenda .event .header .marker { margin-top: 4%; }
.agenda .event .header .marker img { width: 6%; margin-right: 4%; } 
.agenda .event .content { margin-top: 10%; }
.agenda .event .members { margin-top: 10%; margin-bottom: 10%; }
.agenda .event .members .member { width: 20%; float: left; margin-top: 8%; }
.agenda .event .members .member img { width: 60%; }
.agenda .event .clear { clear: both; }
.agenda .event .ownership { margin-top: 14%; }
.agenda #form { margin-top: 10%; }
.agenda #form input[type=text],.register #form input[type=email],.register #form input[type=password] { background-color: transparent; width: 100%; border:0; border-bottom: 2px solid #c2c2c2; color: #FFF; margin-top: 2%; margin-bottom: 2%; }
.agenda #form .item-select { background-color: transparent; border:0; color: #FFF; }
.agenda #form select { background-color: transparent; }
.agenda #form textarea { background-color: transparent; width: 100%; color: white; resize: none; border:0; border-bottom: 2px solid #c2c2c2; }
.agenda #form .addmember img { width: 30%; }

/* THE TOUR OF TODAY */
.thetourofday .header { margin-top: 10%; }
.thetourofday .header .title { margin-left: 0; }
.thetourofday .content .day { margin-top: 136px; text-align: center; }
.thetourofday .content .stores span { margin-bottom: 14px; text-transform: uppercase; }
.thetourofday .content .dates .date_title { text-align: center; }
.thetourofday #day { margin-top: 106px; }
.thetourofday .swoosh { width: 20%; margin: 0 auto; }
.thetourofday .swoosh img { width: 100%; }
.thetourofday .ad { margin: 6% auto; width: 80%; text-align: center; }
.thetourofday .stores { margin-top: 2%; }
.thetourofday .stores #icon { margin-top: 10px; }
.thetourofday .stores .graphs .word img { width: 100%; }
.thetourofday .stores .graphs { margin-bottom: 20px; }
.thetourofday .stores .slider { visibility: visible; }
.thetourofday .stores .items .placeholder { text-align: center; padding-bottom: 30px; }
.thetourofday .stores .items .placeholder img { width: 100%; margin: 0%; display: block; }
.course .description { margin-top: 10%; }
.course .video { margin-top: 10%; text-align: center; }
.course .video img { margin: 4%; }
.course .numbers { margin-top: 10%; }
.course .numbers img { width: 100%; }
.course .items { margin-bottom: 10%; }

/* CHINGOPEDIA */
.chingopedia .header { margin-top: 10%; }
.chingopedia .header .title { margin-left: 0; }
.chingopedia .items #icon img { width: 30%; }
.chingopedia .items #arrow img { margin-right: 10px; margin-top: 10px; }
.chingopedia .words { margin-top: 6%; margin-left: 2%; }
.chingopedia .words .orange { color: #e47d36; }
.chingopedia .words .word { display: block; margin-bottom: 6%; }
.chingopedia .footer { margin: 10% 0 50% 0; }
.chingopedia .footer img { width: 100%; }

/* PHOTOFEED */
.photofeed { padding-bottom: 6%; }
.photofeed .item textarea, .photofeed .item input { background-color: #EEEEEE; width: 100%; resize: none; padding: 2%; }
.photofeed .publish { margin-bottom: 10%; }